/* --------------------------
        HERO
----------------------------*/ 
.hero-area.about {
    min-height: 100vh;
    background-color: #eb893a;

    // @include prevent-resize(header);

    .hero-desc {
        margin-top: 2rem;
        font-size: 1.5em;
        color: #fff;
        text-align: center;
    }

    .about-hero-radius {
        margin-top: 2rem;
    }

    .scroll_down-icon {
        color: #fff;
        margin-top: 2rem;
    }
}

/* --------------------------
        CREATERS
----------------------------*/ 
.page-creaters {
    min-height: 100vh;

    .bb:after {
        border-bottom: 1px solid #666666;
    }

    .creater-list {
        position: relative;
        margin: 1rem 0;
        text-align: center;
    }

    .creater-info {
        position: absolute;
        top: 0;
        left: 6%;
        width: 89%;
        height: 100%;
        border-radius: 50%;
        background-color: rgba(237,95,115, .6);
        opacity: 0;
        transition: opacity .4s;

        &:hover {
            opacity: 1;
        }

    }

    .creater-info-inner {
        margin-top: 3rem;
    }

    h5 {
        font-size: 2em;
        color: #fff;
    }

    .info-subtitle {
        margin: 1rem 0;
        font-size: 1.5em;
        color: #fff;
    }

    .icon {
        color: #fff;
    }

}

.creater-info-detail {

    img {
        width: 100%;
        max-height: 50vh;
    }

    .creater-info-heading {
        margin-top: 2rem;
        font-size: 3em;
    }

    .info-detail-subtitle {
        font-size: 2em;
    }

    .info-detail-desc {
        font-size: 1.5em;
    }

}

/* --------------------------
        CREATERS
----------------------------*/ 