.hero-area.about {
    position: relative;
    min-height: 100vh;
    /*background-color: #ED5F73;*/
    background-color: #eb893a;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.hero-area.about .hero-desc {
    font-size: 2.5em;
    line-height: 1.8;
    color: #fff;
    text-align: center;
}

.hero-area.about .radius {
    margin-top: 100px;
    width: 300px;
}

.hero-area.about .icon {
    color: #fff;
    display: block;
    margin-top: 200px;
}


/* Creaters */
.page-creaters {
    min-height: 1000px
}

.page-creaters .bb:after {
    border-bottom: 1px solid #666666;;
}

.creater-list {
    position: relative;
    margin: 20px 0;
    text-align: center;
}

.creater-list img {
    width: 250px;
}

.creater-info {
    position: absolute;
    top: -1%;
    left: 18%;
    width: 250px;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(237,95,115, 0.6);
    opacity: 0;
    -webkit-transition: opacity .4s;
       -moz-transition: opacity .4s;
        -ms-transition: opacity .4s;
         -o-transition: opacity .4s;
            transition: opacity .4s;
}

.creater-info-inner {
    margin-top: 80px;
}
.creater-info-inner h5 {
    font-size: 2.4em;
    color: #fff;
}

.creater-info-inner .info-subtitle {
    width: 152px;
    margin: 10px auto;
    font-size: 1.5em;
    color: #fff;
    line-height: 1.8;
    font-weight: 300;
}

.creater-info:hover {
    opacity: 1;
}

.creater-info-inner .icon {
    color: #fff;
}

/* create detail */

.creater-info-detail img {
    width: 100%;
}

.creater-info-detail h4 {
    font-size: 3em;
}

.creater-info-detail .info-detail-subtitle {
    font-size: 2em;
}

.creater-info-detail .info-detail-desc {
    font-size: 1.6em;
}

/* Awards */
.page-awards {
    min-height: 500px;
    background-color: #f2959c;
}

.page-awards .page-title {
    color: #fff;
}

.page-awards img {
    width: 100%;
}

/* Snaps */
.page-snap {
    min-height: 500px;
}

.page-snap .bb:after {
    border-bottom: 1px solid #666666;;
}

.snap-list {
    margin-top: 30px;
}

.snap-list img {
    width: 100%;
    height: 290px;
    display: block;
    opacity: 0.7;
    -webkit-transition: opacity .5s;
       -moz-transition: opacity .5s;
        -ms-transition: opacity .5s;
         -o-transition: opacity .5s;
            transition: opacity .5s;
}

.snap-list img:hover {
    opacity: 1;
}

/* Triangle */
.about-triangle {
    position: absolute;
    bottom: -10%;
    left: 47.1%;
    width: 0;
    height: 0;
    /*border-top: 50px solid #ED5F73;*/
    border-top: 50px solid #eb893a;
    border-left: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 50px solid transparent;
}