.hero-area.portfolio {
    min-height: 100vh;
    /*min-height: 700px;*/
    background-color: #71DBBA;
}

.hero-area.portfolio .hero-desc {
    font-size: 2.5em;
    line-height: 1.8;
    color: #fff;
    text-align: center;
}

.hero-area.portfolio .icon {
    color: #fff;
    display: block;
    margin: 350px auto 0 auto;
}

/* Intro */
.page-intro-portfolio {
    min-height: 469px;
    background-color: #41cab8;
}

.page-intro-portfolio .page-title {
    color: #fff;
}

.page-intro-portfolio .intro-desc {
    font-size: 2.5em;
    line-height: 1.8;
    color: #fff;
    text-align: center;
}

/* Work */
.page-work {
    min-height: 1000px
}

.page-work .bb:after {
    border-bottom: 1px solid #666666;;
}

.work-list {
    text-align: center;
    margin: 20px 0;
}

.work-list img {
    width: 100%;
    height: 230px;
    vertical-align: top;
}

/* One call */
.page-portfolio-onecall {
    min-height: 299px;
    background-color: #eb893a;
}

.page-portfolio-onecall .onecall-cap {
    margin: 0 auto;
    font-size: 3.5em;
    color: #fff;
}
.page-portfolio-onecall .radius {
    width: 220px;
    margin-top: 50px;
    font-size: 2em;
}

/* Triangle */
.portfolio-triangle {
    position: absolute;
    bottom: -10%;
    left: 47.1%;
    width: 0;
    height: 0;
    border-top: 50px solid #71DBBA;
    border-left: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 50px solid transparent;
}

/* Work info */
.work-info-wrapper {
    position: relative;
}

.work-info {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 230px;
    background-color: rgba(237,95,115, 0.6);
    opacity: 0;
    -webkit-transition: opacity .4s;
       -moz-transition: opacity .4s;
        -ms-transition: opacity .4s;
         -o-transition: opacity .4s;
            transition: opacity .4s;
}

.work-info-inner {
    margin-top: 80px;
    color: #fff;
}
.work-info-inner h5 {
    font-size: 2.4em;
    color: #fff;
}

.work-info-inner .info-subtitle {
    width: 152px;
    margin: 10px auto;
    font-size: 1.5em;
    color: #fff;
    line-height: 1.8;
    font-weight: 300;
}


.work-info:hover {
    opacity: 1;
}